html {
  background-color: black;
}

body,
html {
  margin: 0;
  padding-top: 50px; /* Adjust padding as needed */
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
}

.data-text {
  position: relative;
  top: -18%;
}

img {
  z-index: 2;
}

.logo {
  transition: transform 1s ease-in-out;
  display: block;
  margin: 0 auto;
}

.text-container {
  position: relative;
  top: -18%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width as needed */
  height: auto;
  z-index: 1;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
  font-size: 16px; /* Adjust font size as needed */
  text-align: left; /* Align text to the left */
  line-height: 1.5; /* Adjust line height as needed */
}

.hidden-text {
  color: #ffffff; /* Ensure text is visible against the background */
}

.reveal .logo {
  transform: translateX(-300%);
}

.chart-container {
  position: relative;
  width: 450px;
  margin: 0 auto;
}

.chart-wrapper {
  width: 100%;
  overflow: hidden;
}

.nav-button {
  position: relative;

  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  border-color: rgb(0, 251, 243);
  border-style: ridge;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}

.menu {
  display: flex;
  position: relative;

  top: -10%;
}

.link a {
  text-decoration: none;

  color: #5ce1e6;
}

p {
  color: #ffffff;
  padding-left: 200px;
  padding-right: 200px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  position: relative;
  top: -30%;
}

.carousel-container {
  text-align: center;
  width: 450px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #ccc;
}

.active-dot {
  background-color: #5ce1e6;
}

button {
  margin: 10px;
}

#carousel3 {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 450px;
}

#pie3 {
  display: inline-block;
  position: relative;
  top: -25%;
  left: 23%;
}

#pie3 .chart-title {
  position: relative;
  top: 50px;
  left: -11%;
  white-space: nowrap;
}

#line {
  background-color: #ffffff;
  display: inline-block;
  margin-left: 11.5%;
  position: relative;
  top: -30%;
}

#prev1,
#next1 {
  background-color: black;
  color: #5ce1e6;
  font-size: large;
  border-style: solid;
  border-color: #5ce1e6;
  position: relative;
  top: -160%;
}

#prev1 {
  position: relative;
  left: 74%;
}

#next1 {
  position: relative;
  left: 100%;
}
