/* Generic HTML */
body {
  margin: 0;
  padding-top: 50px; /* Adjust padding as needed */
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

/* Navigation Menu */
.menu {
  display: flex;
  position: relative;
  top: -9%;
}

.link a {
  text-decoration: none;
  color: #5ce1e6;
}

/* Text */
h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
}

.data-text {
  position: relative;
  top: -18%;
}

.about-container {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width as needed */
  height: auto;
  z-index: 1;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
  font-size: 16px; /* Adjust font size as needed */
  text-align: left; /* Align text to the left */
  line-height: 1.5; /* Adjust line height as needed */
}

.about {
  color: #ffffff; /* Ensure text is visible against the background */
}

p {
  color: #ffffff;
  padding-left: 200px;
  padding-right: 200px;
}

/* Logo */
img {
  z-index: 2;
}

.logo {
  transition: transform 1s ease-in-out;
  display: block;
  margin: 0 auto;
}

.reveal .logo {
  transform: translateX(-300%);
}

/* Line Graph */
#line {
  background-color: white;
  display: inline-block;
  margin-left: 11.5%;
  position: relative;
  top: -30%;
}
/* 2023 Pie Chart */
#pie3 {
  display: inline-block;
  position: relative;
  top: -25%;
  left: 26%;
}

#pie3 .chart-title {
  position: relative;
  top: 50px;
  left: -15%;
  white-space: nowrap;
}

/* Carousel Pie Chart */
.piechart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  position: relative;
  top: -30%;
}

.carousel-container {
  text-align: center;
  width: 450px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #ccc;
}

.active-dot {
  background-color: #3eef6b;
}

#prev1,
#next1 {
  background-color: black;
  color: #3eef6b;
  font-size: large;
  border-style: solid;
  border-color: #3eef6b;
  position: relative;
  top: -160%;
}

#prev1 {
  position: relative;
  left: 74%;
}

#next1 {
  position: relative;
  left: 100%;
}
